{% extends 'layout.html.twig' %}
{% block stylesheet %}
{{parent()}}
<link rel="stylesheet" href="/assets/css/home/hero.css">
<link rel="stylesheet" href="/assets/css/formation.css">
{% endblock %}

{% block content %}
 {% include 'components/home/hero.html.twig' %}
    <main>
        <!-- debut de section formation description  -->
        <section class="formation-description grid">
    
    
            <!-- debut de section formation description  -->
            <div class="formation-description-text">
                <h1>&quot; formation {{formation.name}} &quot; </h1>
                <article>
                    {{formation.description}}
                </article>
            </div>
            <!-- fin de formation description text -->
            <div class="formation-infos-description">
                <div><i class="ri-hourglass-line"></i>" {{formation.duration}}"</div>
                <div><i class="ri-map-pin-line"></i>" {{formation.location}}"</div>
                <div><i class="ri-calendar-2-line"></i>" {{formation.date}}"</div>
                <div><i class="ri-graduation-cap-line"></i>" {{formation.degree}}"</div>
                <div><i class="ri-money-euro-circle-line"></i>" {{formation.financing_supported}}"</div>
            </div>
            <!-- fin de formation description infos -->

            <!-- debut de formation description form -->
            <div class="form">
                <h2>Inscrivez </h2>
                <form action="#" method="post" novalidate="novalidate">
                    <!--PRENOM-->
                    <fieldset>
                        <legend>Prenom</legend>
                        <input type="text" required name="name" id="">
                    </fieldset>
                    <fieldset>
                    <!--FORMATION NAME HIDDEN -->
                    <input type="text" name="formation" value=" {{formation.name}}" hidden>
                    <!--NOM-->
                        <legend>Nom </legend>
                        <input type="text" required name="prenom" id="">
                    </fieldset>
                    <!--EMAIL-->
                    <fieldset>
                        <legend>Email</legend>
                        <input type="email" required name="email" id="">
                    </fieldset>
                    <!--EMAIL-->
                    <fieldset>
                        <legend>Tel</legend>
                        <input type="tel" required name="tel" id=""  pattern="\d{10}" >
                    </fieldset>
                    <!--NIVEAU DETUDES-->
                    <fieldset>
                        <legend>Niveau detudes</legend>
                        <input type="text" required name="niveau" id="">
                    </fieldset>
                    <input type="submit" value="S'inscrire">
                </form>
               
            </div>
            <!-- fin de formation description form -->
        </section>
    </main>
{% endblock %}
{% block javascript %}
    <script>
        var success = "{{ success|default('') }}";
        var errors = JSON.parse('{{ errors|json_encode|default('{}')|escape('js') }}');
        var errorMessages = [];

        if (success) {
            alert(success);
        }

        for (var key in errors) {
            if (errors.hasOwnProperty(key)) {
                errorMessages.push(errors[key]);
            }
        }

        if (errorMessages.length > 0) {
            alert(errorMessages.join('\n'));
        }
    </script>
    <script src="/assets/js/formationScript.js"></script>
{% endblock %}